{% extends 'store/base.html' %}
{% load static %}
{% block title %}Shop Homepage{% endblock %}

{% block content %}
<div class="products">
  {% for product in products %}
    <div class="product-card">
      <img src="{% static product.image %}" alt="{{ product.name }}">
      <h3 class="product-name">
        <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
      </h3>
      <p>{{ product.description }}</p>
      <p class="price">Price: ₹{{ product.price }}</p>

      <div class="button-row">
        <form action="{% url 'add_to_cart' product.id %}" method="post">
          {% csrf_token %}
          {% if user.is_authenticated %}
            <button class="btn" type="submit">Add to Cart</button>
          {% else %}
            <a href="{% url 'login' %}" class="btn">Login to Add</a>
          {% endif %}
        </form>
        <button class="btn">Buy Now</button>
      </div>
    </div>
  {% empty %}
    <p>No products available.</p>
  {% endfor %}
</div>
{% endblock %}
