{% extends 'store/base.html' %}
{% load static %}
{% block title %}{{ product.name }} - Shopeazy{% endblock %}

{% block content %}
<div class="product-detail-container">

  <div class="product-detail-card">
    <img class="detail-image" src="{% static product.image %}" alt="{{ product.name }}">
    
    <div class="product-detail-info">
      <h1>{{ product.name }}</h1>
      <p class="detail-desc">{{ product.description }}</p>
      <p class="detail-price">Price: ₹{{ product.price }}</p>
      
      <p class="detail-size">Size: Free Size</p>

      <div class="detail-buttons">
        {% if user.is_authenticated %}
          <form method="post" action="{% url 'add_to_cart' product.id %}">
              {% csrf_token %}
              <button class="btn">Add to Cart</button>
          </form>
        {% else %}
          <a href="{% url 'login' %}" class="btn">Login to Add</a>
        {% endif %}
        <button class="btn buy-now">Buy Now</button>
      </div>
    </div>
  </div>

  <a href="{% url 'product_list' %}" class="back-link">← Back to Products</a>
</div>
{% endblock %}
